@import '../../common/constants.scss';

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    &__link {
        font-size: 16px;
        color: $dark-grey;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
        &:hover {
            border: 1px solid $dark-grey;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
            padding: 5px;
        } 
    }
}