@import '../../common/constants.scss';

.about {
    width: 100%;
    display: flex;
    margin-top: 50px;
    @media (max-width: $mobile) {
        flex-direction: column;
        margin-top: 20px;
    }

    &__info {
        width: 50vw;
        height: 50vw;
        background-color: $light-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: $mobile) {
            width: 100%;
            height: 50vh;
            padding-top: 10px;
        }
    }

    &__info-wrapper {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        @media (max-width: $mobile) {
            padding: 20px;
        }
    }

    &__text {
        font-size: 22px;
        line-height: 40px;
        padding: 20px 0;
        @media (max-width: $mobile) {
            font-size: 14px;
            line-height: 18px;
            padding: 0;
        }
    }

    &__signature {
        width: 150px;
        height: 100px;
        background-image: url(../../assets/Signature.svg);
        background-size: cover;
        background-position: right;
        align-self: flex-end;
        @media (max-width: $mobile) {
            width: 70px;
            height: 40px;
            margin-top: 10px;
        }
    }

    &__img {
        width: 50vw;
        height: 50vw;
        background-image: url(../../assets/People.png);
        background-size: cover;
        background-position: center;
        @media (max-width: $mobile) {
            width: 100%;
            height: 50vh;
        }
    }
}