@import '../../common/constants.scss';

.steps {
    width: 100%;
    @media (max-width: $mobile) {
        padding-top: 20px;
    }

    &__banner {
        background-color: $light-grey;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        margin: 20px 0;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__column {
        width: 250px;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $mobile) {
            width: 100%;
            justify-content: center;
            margin: 10px 0;
            padding: 0 20px;
        }
    }

    &__icon {
        width: 80px;
        height: 80px;
        background-size: cover;
        &--1 {
            background-image: url(../../assets/Icon-1.png);
        }
        &--2 {
            background-image: url(../../assets/Icon-2.png);
        }
        &--3 {
            background-image: url(../../assets/Icon-3.png);
        }
        &--4 {
            background-image: url(../../assets/Icon-4.png);
        }
        @media (max-width: $mobile) {
            width: 50px;
            height: 50px;
        }
    }

    &__action {
        padding: 10px 0 20px 0;
        max-width: 150px;
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    &__details {
        position: relative;
        max-width: 150px;
        &::before {
            @include line();
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    &__button {
        @include button();
    }
}