@import '../../common/constants.scss';

.yellow-banner {
    width: 100%;
    background-color: $yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;

    &__column {
        max-width: 300px;
    }

    &__number {
        color: $brown;
        font-size: 60px;
        line-height: 60px;
    }

    &__headline {
        padding: 20px 0;
        font-weight: 700;
    }
}