@import '../../common/constants.scss';

.yellow-banner {
    width: 100%;
    background-color: $yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 100px;
    @media (max-width: $mobile) {
        flex-direction: column;
        height: 100vh;
        padding: 20px;
    }

    &__column {
        max-width: 300px;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__number {
        color: $brown;
        font-size: 60px;
        line-height: 60px;
        @media (max-width: $mobile) {
            font-size: 40px;
            line-height: 40px;
        }
    }

    &__headline {
        padding: 20px 0;
        font-weight: 700;
        @media (max-width: $mobile) {
            padding: 10px 0;
        }
    }

    &__text {
        font-size: 16px;
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }
}